* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root, body {
    font-size: 16px;
}

body {
    color: #24292e;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a, a:hover {
    color: #0366d6;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tile {
    border: 1px solid #e1e4e8;
    padding: 1rem;
    border-radius: 3px;
    color: #586069;
    margin-bottom: 1rem;
    width: 48%;

}

.tile:nth-child(1n) {
    margin-right: 2%;
    margin-left: 0;
    float: left;
    clear: left;
}

.tile:nth-child(2n) {
    margin-left: 2%;
    margin-right: 0;
    float: right;
    clear: right;
}

@media (max-width: 550px) {
    .tile:nth-child(1n), .tile:nth-child(2n) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.links .github {
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.links .github svg {
    vertical-align: middle;
    margin-right: 5px;
}

.links .npm {
    float: right;
    margin-top: 3px;
    margin-left: 5px;
}

.links .link {
    float: right;
    margin-top: 0;
    margin-left: 5px;
}

.links .link::before {
    content: '\1f517';
}

.description {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    min-height: calc(3 * 1.6 * 1rem)
}

.tags {
    font-size: 0.9rem;
}

.tag {
    margin-right: 1rem;
}

.tag::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.tag.cli::before {
    background: #178600;
}

.tag.deployment::before {
    background: #701516;
}

.tag.node::before {
    background: #e34c26;
}

.tag.browser::before {
    background: #f1e05a;
}

.tag.website::before {
    background: #f34b7d;
}

.tag.example::before {
    background: #563d7c;
}

.tag.build::before {
    background: #1e4aec;
}

.stars {
    float: right;
}

.stars:empty {
    display: none;
}

.stars::before {
    content: '★';
}
